*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: rgb(97, 43, 97);
    padding: 16px 0;
    color: #e7e7e7;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px ;
}

header li a{
    color: #e7e7e7;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
    justify-content: space-between;
}

.articles{
    display: flex;
    flex-wrap: wrap;
}

.articles article img {
    width: 100%;
}

article{
    margin: 5px;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: rgba(0, 255, 30, 0.629);
    color: #ffff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#economy{
    background-color: #e7e7e7;
}

#sports{
    background-color: #e7e7e741;
}
#Jogos{
    background-color: #e7e7e7;
}