header {
    background-color: #color[colorHeader];
    position: sticky;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.menu {
    display: flex;
}

.menu li {
    font-weight: bold;
    margin-left: 24px;

    a {
        color: @colorText;
        text-decoration: none;
    }
}